@model ArtesMarciais.Models.TipodeAssociacao
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Associação: @Model.nome</h2>
<h2>Periodo: @Model.periodo</h2>
<h2>Mensalidade: @Model.mensalidade</h2>



