@model IEnumerable<ArtesMarciais.Models.Faixa>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center><h2>Faixas</h2></center>
@if (@Model.Any())
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Grau</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var faixa in Model)
            {
                <tr>
                    <td>@Html.ActionLink(@faixa.nome, "Details", new { faixa.id })</td>
                    <td>@faixa.grau</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Não possui nenhuma faixa cadastrado.</p>
}


